<%- include('partials/header'); -%>

<header>
  <!-- <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div> -->
  <div class="headings">
    <h2>Professional Pathway Panel</h2>

    <a href="/newOffer" class="btn">Create a new offer</a>
  </div>
</header>
