<%- include('partials/header'); -%>

<header>

  <div class="headings">
    
    <%if(user){ %> <%- include('dashboard') %>
    <h2>Professional Pathway Panel:</h2>
  </div>
    <a href="/new-offer" class="btn">Create a new offer</a>
    <% } %>
  </div>
</header>


